<header id="shop-header">

    <h2 style="padding: 2px 10px;">Shop</h2>
    <p><a href="{% url 'products:product-list' %}" class="header-link">Products</a></p>
    <p><a href="{% url 'sells:order-list' %}" class="header-link">Orders</a></p>
    {% if not user.is_superuser and not user.is_staff %}
    <p><button type="button" class="header-basket" onclick="getBasket()">Basket</button></p>
    {% else %}
    <p><a href="/admin/users/customuser/" class="header-link">Customers</a></p>
    {% endif %}
    <h2>{{ user.email }}</h2>
    <p style="padding: 2px 10px;"><a href="{% url 'logout' %}" class="header-link">Log Out</a></p>

</header>
